
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}


.infoweather {
	position: relative;
	top: 14px;
	left: 0px;
	font-size: 17px;
	color: #448ccb;
}

.infoweather2,
.infotime {
	color: #448ccb;
}

.infotime2 {
	margin-left: 26px;
}


.news-day {
	padding: 12px 0 26px 58px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 20px;
}
.btn {
	position: relative;
	bottom: 60px;
}

.lines{ 
    height: 5px; 
	width: 30px;
	border-bottom: 17px double black;
    border-top: 6px solid black; 
	overflow: hidden;
}

.header_container {
	padding: 10px 0;
	font-size: 16px;
	background-color: #00122f;
	color: white;
}

.header__container__outside {
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.upper {
	max-width: 1000px;
	padding: 10px;
}

.upper a {
	color: white;
}

.logo {
	background-color: white;
	max-width: 1000px;
	color: black;
	font-size: 17px;
	height: 95px;
	margin: 30px auto 0px;
}

.logopage {
	overflow: hidden;
	padding-right: 10px;
	margin: 5px 59px 5px 10px;
	padding-bottom: 9px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.minilogo {
	overflow: hidden;
	padding-right: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
}

.logoposition {
	overflow: hidden;
	margin: 30px auto 40px;
	display: flex;
	justify-content: space-between;
}

.select-wrapper {
	position: relative;
	display: inline-block;
	font-size: 0;
	padding-top: 9px;
	margin: 27px 10px 1px 10px;
	bottom: 10px;
	right: 20px;
}


.select-wrapper::after {
	position: absolute;
	content: '';
	display: inline-block;
	bottom: 0;
	left: 0;
	right: 15px;
	height: 1px;
}


.custom-select {
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 16px;
	padding-right: 15px;
	color: #448ccb;
	cursor: pointer;
}

.weather {
	background-image: url("https://image.flaticon.com/icons/svg/1164/1164945.svg");
	background-position: bottom 0px right 1px;
	background-size: auto 100%;
	display: inline-block;
	margin: 18px 5px 10px 0;
	padding-right: 75px;
	padding-bottom: 1px;
	padding-top: 3px;
	padding-left: 10px;
	background-repeat: no-repeat;
	color: #448ccb;
	width: 30px;
	bottom: 10px;
}

.weather2 {
	background-image: url("https://image.flaticon.com/icons/svg/1164/1164945.svg");
	background-position: bottom 0px right 1px;
	background-size: auto 100%;
	display: inline-block;
	margin: 8px 5px 10px 0px;
	padding-right: 63px;
	padding-bottom: 1px;
	padding-top: 3px;
	padding-left: 10px;
	background-repeat: no-repeat;
	color: #448ccb;
	width: 30px;
	bottom: 10px;
}

.nav-btn {
	margin: 0 auto;
	display: none;
}

.search-box {
	display: flex;
	position: relative;
	top: 10px;
	right: 10px;
	height: 41px;
	transform: translate(-50%, 50);
	background: #e9e9e9;
	border-radius: 40px;
	padding: 10px;
}
.search-box:hover > .search-txt {
	width: 90px;
	padding: 0 6px;
}
		
.search-btn {
	color: black;
	width: 20px;
	height: 23px;
	border-radius: 50%;
	background: #e9e9e9;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-decoration: none;
}
		
.search-txt {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	color: black;
	font-size: 13px;
	transition: 0.4s;
	line-height: 20px;
	width: 0;
}


.menu {
	display: flex;
	padding-left:2px; 
	overflow: hidden;
	padding-bottom: 20px;
	margin: 0 auto;
}

.menubar__burger {
	display: none;
}

	.menubar {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	padding-left: 5px;
	overflow: hidden;
	margin: 0 auto 2px;
	color: black;
	font-size: 16px;
}

ul.menubar li {
	list-style: none; 
	padding-left: 3px;
	margin: 5px;
}

ul.menubar li a {
	color: black;
}

ul.menubar li a:hover {
	color: #448ccb;
}


.central-container {
	padding: 10px;
	overflow: hidden;
	padding-top: 20px;
	background-color: #f9f9f9;
	background-repeat: repeat-x;
	background-image: url(../img/central-bg-top.png);
}

.fixed-container {
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto 20px;
	display: flex;
	flex-direction: row;
}

.column__left_container {
	margin-bottom: 10px;
}
	

.news-item-text {
	margin-bottom: 10px;
	font-size: 12.6px;
	padding-left: 18px;

}
	

.news-time time {
	margin-left: 21px;
}

.news-time-text {
	margin-left: 45px;
}


.news-item-props {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.news-item-props p {
	padding-left: 18px;
}
.news-comments {
	width: 36px;
}


.imagepropper-news {
	position: relative;
	top: 0px;
}

.tiime-img4 time {
	margin-left: 5px;
}
.tiime-img2 {
	margin: 0 24px 10px 25px;
}
.news-comments2 {
	margin-bottom: 10px;
}


.news-item-props a {
	color: #91919f;
}


.column-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px 0 0;
	background-color: white;
	overflow: hidden;
	height: 849px;
	padding: 4px;
}	

.column-left {
	background-color: white;
	overflow: hidden;
	max-width: 260px;
	height: 849px;
	padding: 4px;
}	

.flex-container {
	display: flex;

}

input[type="button"] {
	padding: 5px;
	border: 1px solid #448ccb; 
	width: 170px;
	height: 45px; 
	color: #448ccb;
	background-color: white;
	border-radius: 30px;
	position: relative;
	top: 25px;
	transition: 0.35s;
	outline: none !important;
}

input[type="button"]:hover {
	background-color: #335691;
	color: white;
}
.currency_block {
	display:flex;
	justify-content: space-between;
	margin-top: 30px;
	width: 138px;
}

.сurrency {
	font-size: 12px;
    color: #448ccb;
    cursor: pointer;
   
}

.eur-rub{
	color: #448ccb;
	font-size: 12px;
	top: 54px;
	right: 157px;
	cursor: pointer;
}

.usd-rub__second {
	color: #448ccb;
	font-size: 12px;
	cursor: pointer;
}

.сurrency__second {
	font-size: 12px;
	color: #448ccb;
	cursor: pointer;
}

.column-center {
	display: flex;
	flex-direction: column;
	background-color: #f9f9f9;
	margin: 0 15px;
	text-align: center;
	background-repeat: no-repeat;
}

.special_paragraph {
	margin: 10px;
	text-align: center;
	font-size: 20px;
}

.special-news-containerONE {
	background-color: #f9f9f9;
	overflow: hidden;
}

.special-news-container {
	overflow: hidden;
	margin: 0 auto;
	background-color: #f9f9f9;
	max-width: 1000px;
	margin-top: 20px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: row;

}

.special-news {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-color: white;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.8s;
}	

.special-news:hover {
	opacity: 0.9;

}


.special-text-second {
	color: #000000;
	background-color: white;
	margin: 0 auto;
	width: 412px;
	overflow: hidden;
	height: 393px;
	font-size: 19px;
	padding-right: 8px;
	display: none;

}

.special-text {
	background-color: white;

}
.special-text-second p {
	padding: 20px;
}



.special_border {
	border: 0.74px solid #e5e5e5;
	overflow: hidden;
}


.flex__footer_container {
	 display: flex;
	 flex-direction: column;
}

.image__container {
	margin-top: 5px;
	margin-bottom: 25px;
}



.special-text2 {
	margin-top: 33px;
	padding-top: 5px;
	font-size: 15px;
	margin-left: 20px;
}


	
.special-text3 {
	margin-top: 11px;
	margin-bottom: 10px;
	font-size: 15px;
	margin-left: 20px;
	margin-right: 10px;
	padding: 5px;
}
.news-item4 {
	overflow: hidden;
	font-size: 14px;
	width: 227px;
}


.props-props4 {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
	.props-props4 a {
	color: #91919f;
}



.special-text4 {
	font-size: 16px;
	margin-left: 25px;
	margin-bottom: 24px;
}


		/*ALL INFO*/

.allinfo {
	width: 587px;
	height: 393px;
	background-image: url(../img/Layer.png);
	transition: 0.8s;
	border-radius: 3px;
	color: white;
}

.allinfo:hover {
	opacity: 0.8;
}

.center-text {
	position: relative;
	font-size: 26px;
	color: #FFFFFF;
	padding-right:17px;
	text-align: left;
	padding-top: 15px;
	padding-left: 20px;
				
}

.center-text p {
	margin-bottom: 10px;
}

			
		/*WIDTH 640px*/

.allinfo_adaptive {
	width: 500px;
	height: 334px;
	background-image: url(../img/Layer640.png);
	transition: 0.8s;
	border-radius: 3px;
	display: none;
	color: white;
	background-repeat: no-repeat;
}
		
.allinfo_adaptive:hover {
	opacity: 0.8;
}
				
.center-src_adaptive {
	margin-top: 120px;
	margin-bottom: 10px;
	margin-left: 42px; 
					margin-left: 42px; 
	margin-left: 42px; 
					margin-left: 42px; 
	margin-left: 42px; 
}
.center-src_adaptive a {
	color: white;
}

.center-text_adaptive {
	margin-left: 42px;
	font-size: 16px;
}
.center-info_adaptive {
	font-size: 12px;
}

.center-src {
	width: 77px;
	margin-top: 109px;
	margin-left: 20px;
}

.center-src a {
	color: white;
	margin-top: 20px;
}

.center-src233 {
	width: 77px;
	margin-top: 83px;
	margin-left: 20px;
}

.center-src233 a {
	color: white;
	margin-top: 20px;
	font-weight: bold;
}
.center-text233 {
	width: 420px;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 20px;
}
.center-text233 p {
	margin-top: 20px;
} 

 
		

		/*WIDTH 445 .allinfo*/
.center-src445 {
	margin-top: 18px;
	margin-left: 20px;
	display: none;
}

.center-src445 a {
	color: white;
	margin-top: 20px;
	font-weight: bold;
	display: none;
}
.center-text445 {
	font-size: 15px;
	margin-top: 20px;
	margin-left: 20px;
	display: none;
}
	.center-text445 p {
	margin-top: 20px;
	display: none;
	} 	

.center-text2 {
	width: 420px;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 20px;
}
.center-text2 p {
	width: 314px;
}
	

.center-info2 {
	font-size: 12px;
	margin-top: 10px;
}

.text {
	font-size: 14px;
	margin-top: 10px;
}

.center-text233, .center-src233 {
	display: none;
}



.ceenter-bar {
	height: 318px;
	width: 461px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../img/newss1.png);
	cursor: pointer;
	transition: 0.7s;
}
.ceenter-bar:hover {
	opacity: 0.8;
}


.center-src a {
	color: #FFFFFF;
}

.center-info {
	font-size: 15px;
	color: #FFFFFF;
	padding-top: 10px;

}


.center-image {
	text-align: left;
	font-size: 14px;
	overflow: hidden;
}

.flex-wrap-container,.flex-wrap-container2 {
	display: flex;
	justify-content: space-between;
}

.image-text1 {
	width: 222px;
	text-align: left;
	font-size: 14px;
	margin-top: 22px;
}

.image-text2 p {
	cursor: pointer;
}

.props-props2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
	padding-left:2px;

}
.props-props2 a {
	color: #91919f;
}

.props-props2 p {
	padding-top: 1px;
	padding-right: 5px;
}

.news-item2{
	overflow: hidden;
	padding-bottom: 10px;
}

.image-text1_adaptive {
	width: 310px;
	text-align: left;							
	font-size: 14px;
	margin-top: 15px;
	display: none;
	height: 300px;
}

.image-text1_adaptive p{
	cursor: pointer;
}
	
.image-text2 {
	width: 222px;
	text-align: left;
	font-size: 14px;
	margin-top: 22px;
}

.image-text2 p {
	cursor: pointer;
}

.image-text2_adaptive {
	width: 310px;
	text-align: left;
	font-size: 14px;
	margin-top: 15px;
	display: none;
	height: 300px;
}

.image-text2_adaptive p{
	cursor: pointer;
}

.image-text3 {
	width: 222px;
	text-align: left;
	font-size: 14px;
	margin: 8px 0px 5px;
}

.image-text3 p {
	cursor: pointer;
}

.image-text3_adaptive {
	width: 310px;
	text-align: left;
	font-size: 14px;
	margin-top: 15px;
	display: none;
	height: 300px;
}

.image-text3_adaptive p{
	cursor: pointer;
}

.image-text4 {
	width: 222px;
	text-align: left;
	font-size: 14px;
	margin: 8px 0px 5px;
}

.image-text4 p {
	cursor: pointer;
}

.image-text4_adaptive {
	width: 310px;
	text-align: left;
	font-size: 14px;
	margin-top: 15px;
	display: none;
	height: 300px;
}

.image-text4_adaptive p{
	cursor: pointer;
}

.column-right {
	background-color: white;
	width: 237px;
	height: 845px;
	overflow: hidden;
	cursor: pointer;
	padding-right: 10px
}
.column-right a {
	overflow: hidden;
	display: inline-block;
}

.column-right img {
	margin-bottom: 20px;
	cursor: pointer;
}

/*slider*/

.slider__container {
	display: none;
	width: 257px;
	height: 350px;
}

.slider {
	width: 250px;
	height: 350px;
	overflow: hidden;
	border: 2px solid gray;
}

.middle {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navigation {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: #2b3038;
	opacity: 1;
	border-radius: 10px;
	transition: all .4s ease;
}

.bar:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 400%;
	height: 100%;
	display: flex;

}

.slide {
	width: 25%;
	transition: all .6s ease;
}

.slide img {
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1 {
	margin-left: 0;
}

#r2:checked ~ .s1 {
	margin-left: -25%;
}



.special-news {
	width: 980px;
	margin: 0 auto;
}

.column_reverse_container {
	display: none;
}

.footer_container {
	background-color: #00122f;
	min-width: 320px; 
	min-height: 100%;
	margin: 0px;
	overflow: hidden;
	padding-top: 20px;
	margin-top: 10px;
	border-bottom: 1px solid #26354e;
}

.container__social {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 74px;
	margin-top: 6px;
}

.container__social a {
	display: inline-block;
	font-size: 30px;
	width: 50px;
	text-align: center;		
}
		/*VK*/
.vk {
	color: white;
	height: 0px;
}

.vk:hover {
	color: #597da3;							
}

		/*TWIT*/
.twit{
	color: white;
	height: 0px;
}
.twit:hover {
	color: #00acee;						
}

		/*FACEBOOK*/
.face{
	color: white;									
	height: 0px;			
}
.face:hover {
	color: #2956b1;		
}

		/*INSTAGRAM*/
.inst{
	color: white;	
	height: 0px;	
}

.inst:hover {
	color: #C13584;	
}

.tel {
	margin-right: 16px;
}

.email {
	margin-right: 24px;
}

.footer_container a {
	color: white;
}

.footer-info {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	max-width: 1035px;
	padding: 27px 10px 27px 15px;
	margin: 0 auto;
	overflow: hidden;
}

.news_footer {
	max-width: 200px;
	margin-top: 15px;
	color: #7a7f88;
	font-size: 12px;
	display: none;
}
		
.footerul {
	columns: 2;
	max-width: 250px;
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 26px;
}

.footerul a,.footerul23 a  {
	margin-left: 4px;
	text-decoration: none;
}

.footerul li {
	margin-bottom: 13px;
}

.footerul23 li {
	margin-bottom: 13px;
}

.footerul23 {
	list-style-type: none;
}
			
.picture__footer_container {
	margin:4px;
	padding:2px;
	width: 16px;
	height: 46px;
}

.info__tel__email_container {
	display: flex;
	flex-direction: column;
	columns:2;
	margin: 15px 0 0 14px; 
}

.info__tel__email_container li {
	margin: 0 0 15px 5px;
	list-style-type: none; 
}

.footerlogo {
	padding-top: 28px;
	padding-right: 6px;
}

.footer__contact_container {
	display: flex;
	flex-direction: column;
}

.border_info_tel {
	display: none;
	border-top: 1px solid #26354e;
}

.border__footer {
	border-top: 1px solid #26354e;
	margin-bottom: 10px;
	display: none;
}

.border22 {
	margin-top: 47px;
	border-top: 1px solid #26354e;
	display: none;
}

.button_form {
	padding: 5px;
}

.news_footer_second {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	font-size: 12px;
	color: #8d9198;
	border-top: 1px solid #26354e;
}



/* media */

@media (max-width: 1033px) {

	.column-right,
	.btn btn-navbar {
		display: none;
	}

	.slider__container {
		display: block;
	}

	.special-text {
		max-width: 590px;
	}

	.news-time img {
		margin-left: 2px;
	}
	.news-comments {
		left: 179px;
	}

	.column-center {
		order: -1;
	}

	.column-left {
		margin: 0 20px 20px;
		max-width: 418px;
	}

	.news-day {
		padding: 12px 0 26px 0px;	
		text-align: center;
	}

	.eur-rub {
		top: 57px;
		right: 256px;
	}


	.fixed-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.special-news-container {
		margin: 5px 0 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.column_reverse_container {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
	}
	.overflow {
		width: 100%;
		overflow: hidden;
	}

	.image {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;	
	}

	.news-item-props {
		width: 250px;
	}


}


@media (max-width: 780px) {

	.menu,
	.select-wrapper,
	.news_footer_second {
		display: none;
	}

	.logopage {
		margin-left: 69px;
		margin-right: 2px;
	}

	body.lock {
		overflow: hidden;
	}

	.menubar__burger {
		display: flex;
		list-style-type: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 110px;
	}

	ul.menubar__burger li a  {
		font-size: 14px;
		color: #ffffff;
		margin: 10px;															
	}

	ul.menubar__burger li {
		margin: 13px;
		padding: 0 1px 0px 3px;
	}


		/*MENU BURGER*/

				
	.menu__burger {
		display: block;
		position: relative;
		width: 20px;
		height: 19px;
		bottom: 79px;
		left: 22px;
		z-index: 2;	
	}

	.menu__burger span {
		position: absolute;
		background-color: #00122f;
		left: 0;
		width: 100%;
		height: 2px;
		top: 8px;
		z-index: 1;	
		transition: all 0.3s ease 0s;

	}

	.item__menu {
		position: fixed;
		background-color: #00122f;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		z-index: 1;
		transition: all 0.3s ease 0s;
	}
	.item__menu.active {
		top: 0;
	}

	.menu__burger::before,		
	.menu__burger::after {
		content: '';
		background-color: #00122f;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}		

	.menu__burger.active span {
		transform: scale(0);
							
	}

	.menu__burger.active::before {
		transform:rotate(45deg);
		top: 8px;
		background-color: #FFFFFF;
	}

	.menu__burger.active::after {
		transform:rotate(-45deg);
		bottom: 9px;
		background-color: #fff;
	}

	.menu__burger::before {
		top: 0;
	}

	.menu__burger::after {
		bottom: 0;
	}

	.info_tel_email {
		margin-right: 15px;
		width: 194px;
		height: 81px;
		border-bottom: 1px solid #26354e;
	}

	.tel {
		margin-right: 14px;
	}

	.email {
		margin-right: 20px;
	}

	.container__social {
		justify-content: flex-start;
	}

	.footer-info {
		flex-direction: column;
		display: flex;
		align-items: center;
		max-width: 320px;
		padding: 27px 27px 10px 27px;
		overflow: hidden;
		line-height: 25px;
	}

	.border__footer {
		display: block;
	}

	.footerul23 {
		margin-bottom: 20px;
		margin-right: 43px;
	}

	.image__container {
		margin: 20px 0px;
	}

	.container__social {
		margin-bottom: 65px;
	}

	.info__tel__email_container {
		margin: 0;
	}

	.border {
		display: block;
		max-width: 194px;
	}

	.news_footer {
		display: block;
	}

}


@media (max-width: 600px) {

	.menu,
	.logopage,
	.weather,
	.text,
	.infoweather,
	.allinfo {
		display: none;
	}  
	.datetime,
	.special-text-second,
	.footersocial {
		display: none;
	}
	.center-src445,
	.center-src445 a,
	.center-text445,
	.center-text445 p {
		display: inline-block;
	}
	.border22 {
		display: block;
	}

	.logo {
		margin: 0px;
		height: 30px;

	}

	.logoposition {
		margin: 13px auto 13px;
		position: relative;
	}

	.menu__burger {
		bottom: 19px;
	}

	.nav-btn {
		display: block;
		background-color: #f6f6f6;
		margin: 0 auto;
		padding: 20px 10px 20px 20px;
	}

	.nav-btn__two {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.weather {
		margin-top: 3px;
		margin-left: 4px;
	}

	.special-news-containerONE {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.second__allinfo__adaptive {
		width: 322px;
		height: 216px;
		background-image: url(../img/Layer2.png);
		transition: 0.8s;
		border-radius: 3px;
		background-repeat: no-repeat;
		color: white;
	}

	.second__allinfo__adaptive:hover {
		opacity: 0.8;
	}


	.minilogo {
		margin: 8px 0px 5px 71px;
		padding-bottom: 5px;
		height: 30px;
		width: 490px;
		background-image: url(../img/minilogo.png)
	}	

	.special-news-container {
		margin: 0 10px 10px 10px;
		box-shadow: none;
		max-width: 320px;
	}

	.special_paragraph {
		font-size: 17px;
	}

	.news-item4 {
		font-size: 13px; 
	}

	.footerlogo {
		margin: 10px 0px;
	}
	
	.special-text {
		display: flex;
		flex-direction: column;
		max-width: 320px;
	}

	.search-box {
		top: 0;
	}
	
	.footer__contact_container {
		display: flex;
		flex-direction: column;
		max-width: 194px;
	}

}


@media (max-width: 480px) {

	.flex-wrap-container,
	.flex-wrap-container2 {
		display: none;
	}
	
	.column-right {
		display: none;
	}

	.image-text1_adaptive,
	.image-text2_adaptive,
	.image-text3_adaptive,
	.image-text4_adaptive {
		display: block;
		align-items: center;
	}
	
	.tiime-img2 {
		margin: 7px 24px 10 25px;
	}	

	.slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

	.imgOne {
		margin-right: 10px;
	}

	.imgTwo {
		height: 400px;
	}

	.column-left {
		margin: 20px auto;
    	width: 322px;
    	height: 780px;
	}

	.column-right {
		margin-top: 30px;
		box-shadow: none;
	}

	.column-right a {
		float: left;
	}

	.ceenter-bar {
		height: 222px;
	    width: 320px;
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-image: url(../img/newss2.png);
	    cursor: pointer;
	    margin-bottom: 10px;
	}

	.center-src {
		width: 77px;
		margin-top: 50px;
		margin-left: 20px;
	}

	.center-text h3 {
		font-size: 18px;
	}

	.center-info_adaptive {
		font-size: 12px;
	}

	.image-text_adaptive {
		display: block;
		background-image: url(../img/naskal2.png);
		width: 310px;
		text-align: left;
		cursor: pointer;
		font-size: 14px;
		margin-top: 22px;
		background-repeat: no-repeat;
	}

	.image-text1_adaptive p,
	.image-text2_adaptive p,
	.image-text3_adaptive p,
	.image-text4_adaptive p {
		font-size: 12px;
		margin: 10px 0px 0px 10px;
	}	

	.center-image p {
		height: 40px;
	}

	.image-text2 {
		display: block;
		width: 320px;
		background-repeat: no-repeat;
		text-align: left;
		cursor: pointer;
		font-size: 12px;
	}

	.image-text3 {
		display: block;
		width: 320px;
		background-repeat: no-repeat;
		text-align: left;
		cursor: pointer;
		font-size: 12px;
	}

	.image-text3 p {
		height: 17px;
	}

	.image-text4 {
		display: block;
		width: 320px;
		background-repeat: no-repeat;
		text-align: left;
		cursor: pointer;
		font-size: 12px;
		margin-bottom: 10px;
	}

	.image-text2,
	.image-text3,
	.image-text4 {
		float: none;
	}

	.upper {
		font-size: 14px;
	}

	.props-props2 {
		padding-right: 93px;
		padding-top: 0px;
	}

}	


@media (max-width: 320px) {

	.allinfo {
		display: none;
	}

	.column-right {
		display: none;
	}

	.image-text1,
	.image-text2,
	.image-text3,
	.image-text4 {
		display: none;
	}

	.upper {
		font-size: 12px;
	}

	.slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
	 }

	.imgOne {
		margin-right: 10px;
	}

	.imgTwo {
		height: 400px;
	}

	.central-container {
		padding-top: 0px;
	}

	.column-left {
		margin: 50px 0px 10px 0px;
    	max-width: 322px;
    	height: 780px;
	}

	.center-text {
		font-size: 11px;
	}

	.center-info_adaptive {
		font-size: 12px;
	}

	.image-text1 {
		display: block;
		background-image: url(../img/naskal2.png);
		width: 310px;
		text-align: left;
		cursor: pointer;
		font-size: 14px;
		margin-top: 22px;
		background-repeat: no-repeat;
	}

	.image-text1 p {
		font-size: 12px;
		margin-bottom: 5px;
	}	

	.image-text2 {
		display: block;
		width: 320px;
		background-repeat: no-repeat;
		text-align: left;
		cursor: pointer;
		font-size: 12px;
	}

	.image-text3 {
		display: block;
		width: 320px;
		background-repeat: no-repeat;
		text-align: left;
		cursor: pointer;
		font-size: 12px;
	}

	.image-text3 p {
		height: 17px;
	}

	.image-text4 {
		display: block;
		width: 320px;
		background-repeat: no-repeat;
		text-align: left;
		cursor: pointer;
		font-size: 12px;
		margin-bottom: 10px;
	}

	.footer_container {
		max-width: 320px;
	}

	.border {
		max-width: 250px;
	}


}

